<div class="col-md-4 col-md-offset-4">
  <h1>Επεξεργασία Πελάτη</h1>

  <%= render 'form', client: @client %>
  <br>
  <%= link_to 'Προβολή', @client %> |
  <%= link_to 'Πελάτες', clients_path %>
</div>
