<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid" id="navFluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs_nav_1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Call Center', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs_nav_1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Κλήσεις', calls_path %></li>
        <li><%= link_to 'Πελάτες', clients_path %></li>
        <li><%= link_to 'Τηλέφωνα Πελατών', client_phones_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
